/*p1.html*/
section{
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 400px;
    box-shadow: -3px -3px 3px #ccc, 3px 3px 3px #ccc;
    border-radius: 10px;
    transition: 1s;

}
.translate:hover{
    transform: translate(100px,100px);
}
.translate_x:hover{
    transform: translate(100px);
}
.translate_y:hover{
    transform: translate(100px);
}
/*p2.html*/
.scale:hover{
    transform: scale(2,2);
}
.scalex:hover{
    transform: scaleX(2);
}
.scaley:hover{
    transform: scaleY(2);
}
/*p3.html*/
.rotate:hover{
    transform: rotate(45deg);
}
.rotatex:hover{
    transform: rotate(180deg);
}
.rotatey:hover{
    transform: rotate(180deg);
}
/*p4.html*/
.skew:hover{
    transform: skew(30deg, 20deg);
}
.skewx:hover{
    transform: skewx(20deg);
}
.skewy:hover{
    transform: skewy(20deg);
}
/*p5.html*/
.matrix1:hover{
    transform: matrix(2,0,0,2,120,300);
}
.matrix2:hover{
    transform: matrix(1,2,-1,1,80,80);
}
